<div id="container">
<div id="info">
    <div>
        <h1 class="title">About Tron-41 Tournament Runner</h1>
    </div>
    <div class="content">
        <div class="left">
          <h2 class="question">What is Tron-41 Tournament Runner?</h2>
            TRON-41 is a two-player game played on a rectangular grid, in which players take turns moving in one of four directions (Up, Down, Left, and Right) and leave behind an impenetrable barrier in the position where they were.
        </div>
        <div class="right">
            {{!-- <img src="https://halite.io/assets/images/halite_iii.png" alt="just a image that looks nice" class="img"> --}}
            {{!-- <img src="https://media0.giphy.com/media/RJlYQvBklQesg/source.gif" alt="tron legacy gif" class="img"> --}}
            <img src="loopoptimized.gif" alt="tron legacy gif" class="img">


        </div>
    </div>
</div>

<div class="content">
  <div class="left">
    {{!-- <img src="https://media0.giphy.com/media/RJlYQvBklQesg/source.gif" alt="tron legacy gif" class="img"> --}}
                <img src="loopoptimized.gif" alt="tron legacy gif" class="img">

  </div>
  <div class="right">
    <p class="question">How can I get started?</p>
    <p>You can read <a id="info-link" href="https://cs.brown.edu/courses/csci1410/assignments/tron.pdf">this document</a> on how to write your own script! You can pick any programming language you like.</p>


  </div>

</div>
{{!-- <div>
  <a class="enter-btn" href="/login">get started!</a>
</div> --}}
</div>
<!-- Footer -->
<footer class="page-footer font-small pt-4 my-footer">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Get Started</h5>
        <p>Want To Know More About Our Games?</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">CSCI1410@Brown</h5>

        <ul class="list-unstyled">
          <li>
            <a href="http://cs.brown.edu/courses/csci1410/">CSCI1410@Brown</a>
          </li>
          <li>
            <a href="http://cs.brown.edu/courses/csci1410/assignments/tron.pdf">Final Project</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Tron</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://en.wikipedia.org/wiki/Tron#Tron:_Legacy">Tron 1982</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="http://cs.brown.edu/courses/csci1320/"> CSCI1320@Brown</a>
  </div>
  <!-- Copyright -->

</footer>
<style>
    #container{
        display: flex;
        flex-direction: column;
        /*height: 600px;*/
        text-align: center;
        font-family: 'VT323', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #ff5722;
        color: rgb(255, 40, 10);
        color: #6BBABF;
        color: #39F3FF;
        margin-bottom: 40px;
    }
    #info{
        display: flex;
        flex-direction: column;
    }
    .question {
      font-size: 2.5vw;
      color: #ff5722;
      color: #39F3FF;
      text-decoration:line-through;
      text-decoration: underline dashed;
    }
    #info-link {
      color: #e6704d;
      color: rgb(255, 40, 10);

    }
    #info-link:hover {
      /*color: #FF5722;*/
      color: white;

    }
    .enter-btn:hover {
      color: white;

    }

    .title{
        /*margin-top: 50px;*/
        line-height: 100px;
        font-size: 4vw;
        text-decoration: underline;
    }
    .content{
        /*height: 200px; */
        font-size: medium;
        display: flex;
        flex-direction: row;
        font-size: 1.5vw;
        color: #ff5722;
        padding-top: 50px;
        /* background-image: url('https://media0.giphy.com/media/RJlYQvBklQesg/source.gif'); */

                

    }
    .left{
        height: 200px;
        width: 50%;
        color: aliceblue;
        text-align: left;
        padding-left: 4vw;
    }
    .right{
        height: 200px;
        width: 50%;
        color: aliceblue;
        text-align: right;
        padding-right: 4vw;
    }
    .img{
        max-height: 100%;
        max-width: 100%;
        opacity: 85%;
    }
    a{
      color:#85d7f8;
    }
    a:hover {
    color: white;
    text-decoration: none;
}
</style>
<script src="/js/about.js"></script>
