
<div id="container">
    <div id="logo">
        <h1>Tron Tournament Runner</h1>
        <h2>CSCI1410@Brown University</h2>
      <div style="padding:100px">
      <a class="enter-btn" href="/about">enter</a>
      </div>
    </div>

    <div id="csci1320">
        {{!-- <img src="https://wallpaperaccess.com/full/97643.jpg" alt="extraterrestrial" class="img"> --}}
        <img src="homelogo.png" alt="Home Logo" class="img">
    </div>

</div>
<!-- Footer -->
<footer class="page-footer font-small pt-4 my-footer">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Get Started</h5>
        <p>Want To Know More About Our Games?</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">CSCI1410@Brown</h5>

        <ul class="list-unstyled">
          <li>
            <a href="http://cs.brown.edu/courses/csci1410/">CSCI1410@Brown</a>
          </li>
          <li>
            <a href="http://cs.brown.edu/courses/csci1410/assignments/tron.pdf">Final Project</a>
          </li>
  
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Tron</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://en.wikipedia.org/wiki/Tron#Tron:_Legacy">Tron 1982</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="http://cs.brown.edu/courses/csci1320/"> CSCI1320@Brown</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<style>
    #container{
        height: 400px;
        /*background-color: aqua;*/
        display: flex;
        flex-direction: row;
        {{!-- text-align: center; --}}
        align-content: center;
        margin-top: 200px;
    }
    #logo{
        width: 50%;
        font-family: 'VT323', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #ff5722;
        color: #39F3FF;
        text-align: left;
        font-weight: bolder;
        text-decoration: underline;
        padding-left: 15%;
    }


    #csci1320{
        width: 50%;
        align-self: flex-start;
        padding-right: 15%;

    }
    .img {
    width: 15vw;
    }
    .list-unstyled{
        color: royalblue;
    }
    a{
      color: #85d7f8;
    }
    a:hover {
    color: white;
    text-decoration: none;
}

</style>
<script src="/js/home.js"></script>
